:root {
  --black: #0c1014;
  --blue: #00b5ff;
  --white: #ffffff;
  --red: #fb5b66;
  --yellow: #ffbf37;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--white);
}
html {
  font-size: 16px;
  letter-spacing: 0.04rem;
}
.App {
  max-width: 100vw;
  height: auto;
  background-color: var(--black);
  color: var(--white);
}

@media (max-width: 1000px) {
  .html {
    font-size: 14px !important;
  }
}
